{% extends 'base.html.twig' %}

{% block title %}Pokedex dresseur {% endblock %}

{% block body %}
<div class="centre">
    <h1>Modification des informations de votre profil dresseur:</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }} <br>
    <a href="{{ path('user_show', {'id': app.user.id}) }}">Retour au profil dresseur</a>&nbsp &nbsp &nbsp  &nbsp<a href="/logout" > Se déconnecter </a>
</div>
{% endblock %}
